@{
    Layout = "_LayoutPage";
}
<link rel="stylesheet" href="~/css/V00201_HomePage.css" asp-append-version="true" />

<p id="LANGUAGE_SETTINGS" hidden>@ViewData["LANGUAGE_SETTINGS"]</p>
<p id="CURRENT_USER" hidden>@Model.CURRENT_USER</p>
<form asp-controller="C002" asp-action="CreateNotificationPage" method="post">
    <input type="hidden" name="LANGUAGE_SETTINGS" value= @ViewData["LANGUAGE_SETTINGS"]>
    <input type="hidden" name="CURRENT_USER" value= @Model.CURRENT_USER>
    <button type="submit" class="btnUser btnV00201_CreateNotifice">Create New Notification</a>
</form>

<table id="notifice">
  <tr>
    <th>Notifice Title</th>
  </tr>
  <tr>
    <td>Content 1</td>
  </tr>
  <tr>
    <td>Content 2</td>
  </tr>
</table>