@{
    Layout = "_LayoutPage";
}
<link rel="stylesheet" href="~/css/V00201_HomePage.css" asp-append-version="true" />
<script src="~/js/V00201.js" asp-append-version="true"></script>
<button class="btnUser" onclick="OpenModal()">通知を新規追加</button>

<div id="modalNotifice" class="modal">
  <div class="modal-content">
    <div>
      <label style="float: left; padding-right: 700px"><b>通知を新規追加フォーム</label>
      <button class="close" onclick="CloseModal()">&times;</button>
    </div>
    <div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Notification Title</label>
          </div>
          <div class="col-75">
            <input type="text" class="input-field" id="title" name="title" placeholder="Notification Title..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Notifice Content</label>
          </div>
          <div class="col-75">
            <textarea type="text" class="input-field" id="content" name="content" placeholder="Write something.." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row" style="padding-left: 850px">
          <button class="btnUser btnV00201_Submit" onclick="CreateNotification()"">Submit</button>
        </div>
    </div>
  </div>
</div>

<div>
<table id="notifice">
  <tr>
    <th>Notifice Title</th>
  </tr>
  <tr>
    <td>Content 1</td>
  </tr>
  <tr>
    <td>Content 2</td>
  </tr>
</table>
<div>