@{
    Layout = "_LayoutPage";
}
<link rel="stylesheet" href="~/css/V00201_HomePage.css" asp-append-version="true" />
<script src="~/js/V00201.js" asp-append-version="true"></script>
<button class="btnUser" onclick="OpenModal()">通知を新規追加</button>
<p id="LANGUAGE_SETTINGS" hidden>@ViewData["LANGUAGE_SETTINGS"]</p>
<p id="CURRENT_USER" hidden>@ViewData["CURRENT_USER"]</p>

<div id="modalNotifice" class="modal">
  <div class="modal-content">
    <div>
      <label style="float: left; padding-right: 705px; padding-bottom: 20px"><b>通知を新規追加フォーム</label>
      <button class="close" onclick="CloseModal()">&times;</button>
    </div>
    <div>
        <div>
          <p id="error-message" name="error-message"></p>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Notification Title</label>
          </div>
          <div class="col-75">
            <input type="text" class="input-field" id="title" name="title" placeholder="Notification Title..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Notifice Content</label>
          </div>
          <div class="col-75">
            <textarea type="text" class="input-field" id="content" name="content" placeholder="Write something.." style="height:200px"></textarea>
          </div>
        </div>
        <div class="row" style="padding-left: 850px">
          <button class="btnUser btnV00201_Submit" onclick="CreateNotification()"">Submit</button>
        </div>
    </div>
  </div>
</div>

<div>
<table id="notifice">
  <tr>
    <th>Notifice Title</th>
  </tr>
  @if(@Model.M00201_GetAllNotifications.Count > 0){
    @for (int i = 0; i < @Model.M00201_GetAllNotifications.Count; i++)
    {
      <tr>
        <td>@Model.M00201_GetAllNotifications[i].z_notifice_title</td>
      </tr>
    }
  }
</table>
<div>