#notifice {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}
  
#notifice td, #notifice th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#notifice tr:nth-child(even){background-color: #f2f2f2;}

#notifice tr:hover {background-color: #ddd;}

#notifice th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: midnightblue;
    color: white;
}


body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f2f2f2;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  width: 35px;
  background-color: whitesmoke;
  color: black;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid midnightblue;
}

.btnV00201_Submit {
  width: 80px;
}

.errMess {
  padding: 5px;
  background-color: #f44336;
  color: white;
}