<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTS_SourceFiles</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TTS_SourceFiles.styles.css" asp-append-version="true" />
</head>
<body>
    <section>
    <nav>
        <ul>
            <li>
                <div class="icon_position">
                    <img src="~/images/home_icon.png" alt="Home Img" id="homeImg">
                </div>
                <div>
                    <a class="active" href="#home">Home</a>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/notification_icon.png" alt="Nofitication Img" id="notificationImg">
                </div>
                <div>
                    <a href="#news">Notification</a>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/schedule_icon.png" alt="Schedule Img" id="scheduleImg">
                </div>
                <div>
                    <a href="#news">Scheldule</a>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/message_icon.png" alt="Message Img" id="messageImg">
                </div>
                <div>
                    <a href="#news">Message</a>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/file_management_icon.jpeg" alt="File Management Img" id="fileManagementImg">
                </div>
                <div>
                    <a href="#news">File Management</a>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/department_icon.png" alt="Department Img" id="departmentImg">
                </div>
                <div>
                    <a href="#news">Create New Department</a>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/account_icon.png" alt="Account Img" id="accountImg">
                </div>
                <div>
                    <a href="#news">Create New Account</a>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/setting_icon.jpeg" alt="Setting Img" id="settingImg">
                </div>
                <div>
                    <a href="#contact">Account Settings</a></li>
                </div>
            </li>
            <li>
                <div class="icon_position">
                    <img src="~/images/logout_icon.jpeg" alt="Logout Img" id="logoutImg">
                </div>
                <div>
                    <a asp-controller="C001" asp-action="Logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <article>
            @RenderBody()
    </article>
    </section>
    <footer>
        <div>
            &copy; 2023 - TTS (Technical Training System)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>