@{
    Layout = "_LayoutPage";
}
<link rel="stylesheet" href="~/css/V00402_CreateUserPage.css" asp-append-version="true" />
<div>
<form asp-controller="C004" asp-action="CreateUser" method="post">
  <input type="hidden" name="language" value= @ViewBag.Language>
  <div>
  @if(ViewBag.Error_Message != null) {
    <label>@ViewBag.Error_Message</label>
  }
  <table>
    <tr>
      <th><label class="label-size" for="uname"><b>アカウントID</b></label></th>
      <th><input class="input-size" type="text" placeholder="アカウントを入力する。" name="uname" required></th>
    </tr>
    <tr>
      <td><label class="label-size" for="psw"><b>パスワード</b></label></td>
      <td><input class="input-size" type="password" placeholder="パスワードを入力する。" name="psw" required></td>
    </tr>
    <tr>
      <td><label class="label-size" for="checkbox"><b>アクティブ</b></label></td>
      <td><input type="checkbox" name="checkbox" required></td>
    </tr>
    <tr>
      <td><button class="btnUser btnV00402_Add" type="submit">登録</button></td>
      <td><button class="btnUser btnV00402_Cancel" type="submit">キャンセル</button></td>
    </tr>
  </table>  
  </div>
</form>
</div>